<div class="filter full-width">
  <form class="signing-box" [formGroup]="FilterForm" (ngSubmit)="submitFilter()">
    <span class="display-center">Filter Posts</span>
      <div style="height:0%">
      <div>
        <mat-form-field appearance="outline">
          <mat-label>Starting Date</mat-label>
          <input type="date" formControlName="startingDate" matInput placeholder="Starting Date">
        </mat-form-field>
      </div>

      <div>
        <mat-form-field appearance="outline">
          <mat-label>Ending Date</mat-label>
          <input type="date" formControlName="endingDate" matInput placeholder="Ending Date">
        </mat-form-field>
      </div>

      <div>
        <mat-form-field appearance="outline">
          <mat-label>Publishers</mat-label>
          <input formControlName="publishers" matInput placeholder="Publishers">
          <mat-icon matSuffix>lock</mat-icon>
          <mat-hint>Seperated by spaces</mat-hint>
        </mat-form-field>
      </div>

      <div>
        <mat-form-field appearance="outline">
          <mat-label>Tags</mat-label>
          <input formControlName="tags" matInput placeholder="Tags">
          <mat-icon matSuffix>lock</mat-icon>
          <mat-hint>Seperated by spaces</mat-hint>
        </mat-form-field>
      </div>

      <div>
        <mat-form-field appearance="outline">
          <mat-label>User tags</mat-label>
          <input formControlName="taggedUsers" matInput placeholder="User tag">
          <mat-icon matSuffix>lock</mat-icon>
          <mat-hint>Seperated by spaces</mat-hint>
        </mat-form-field>
      </div>

      <div class="display-center">
        <button type="submit" class="btn-login" (click)="submitFilter()">
          Filter
        </button>
      </div>
    </div>
  </form>
</div>