<div class="display-center full-width">
  <form class="signing-box" [formGroup]="loginForm" (ngSubmit)="submitPost()">
    <div>
      <img src="../../../assets/LogoFL.png" alt="">
      <!-- <img src="../../../assets/Logo.jpeg" alt=""> -->
      <!-- <img src="../../../assets/Logo2.jpeg" alt=""> -->
    </div>

    <div>
    <!-- <div class="display-center">

      <h2>Login</h2>
    </div> -->


    <!-- <label for="firstName"></label>
    <input formControlName="userName" placeholder="User Name" type="text" id="userName" />
    <div class="error" *ngIf="
          loginForm.controls['userName'].touched &&
          loginForm.controls['userName'].invalid
        ">
      username not valid
    </div> -->
<div>
      <mat-form-field appearance="outline">
        <mat-label>User Name</mat-label>
        <input formControlName="userName" matInput placeholder="User Name">
         <mat-icon matSuffix>perm_identity</mat-icon> 
         <mat-hint>Min 3 Characters</mat-hint> 
      </mat-form-field>
    </div>

    <!-- <label for="password"></label>
    <input formControlName="password" placeholder="Password" type="password" id="password" />
    <div class="error" *ngIf="
          loginForm.controls['password'].touched &&
          loginForm.controls['password'].invalid
        ">
      password not valid
    </div> -->

    <div>
      <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input formControlName="password" matInput type="password" placeholder="Password">
         <mat-icon matSuffix>lock</mat-icon> 
         <mat-hint>Min 4 Characters</mat-hint> 
      </mat-form-field>
    </div>

    <div class="display-center">
      <button type="submit" class="btn-login" [disabled]="!loginForm.valid">
        Login
      </button>
    </div>

    <div class="display-right opacity" >
      <span matTooltip="Help!">Need Help?</span>
    </div>

    <div class="display-center opacity" >
      <span>Don't Have an account yet ?</span>
    </div>

    <!-- <div class="display-center">
      <button mat-raised-button type="submit" [disabled]="!loginForm.valid">Basic</button>
    </div> -->

    <div class="display-center">
      <a class="blue" [routerLink]="['/SignUp']">Create an account</a>
    </div>

  </div>
  </form>
</div>
