<div>
    <div class="signing-box post-width">
        <h2 class="text-marginer">{{username}}</h2>
        <div class="text-marginer">{{date}}</div>
        <div class="text-marginer">{{post.description}}</div>
        <div class="post-flex" (click)="openDialog()">
            <div>
                <img class="post-image" src={{post.imageSorce}}>
            </div>
        </div>
        <span class="like-flex">
            <span class="text-marginer" style="margin-top:1.5vh ;">{{likeAmount}} Likes</span>
<span>
    <button mat-icon-button matTooltip="Like" matTooltipPosition="above" (click)="likeUnlike()">
        <mat-icon [ngClass]="userliked ? 'btn-like': 'btn-unlike'">favorite</mat-icon>
    </button>
    <span *ngIf="editButton">
            <button mat-icon-button matTooltip="Edit" matTooltipPosition="above" (click)="editPost()">
                <mat-icon>edit</mat-icon>
            </button>
        </span>
</span>
           
        </span>
        


        <div class="post-text-bg" *ngIf="isExtended">
            <span *ngIf="editButton">
                <button class="post-item" (click)="editPost()">Edit</button>
            </span>
            <textarea class="textarea-tag" disabled resize="none;">likes: {{likeAmount}}</textarea>
            <span *ngIf="!editing">
                <textarea class="textarea-tag" disabled resize="none;">tags: {{tags}}</textarea>
                <textarea class="textarea-tag" disabled resize="none;">tagged: {{userTags}}</textarea>
            </span>
            <span *ngIf="editing">
                <textarea class="textarea-tag" disabled resize="none;">tags:</textarea> <input [(ngModel)]="tagString">
                <textarea class="textarea-tag" disabled resize="none;">tagged:</textarea> <input
                    [(ngModel)]="userTagString">
                <button class="post-item" (click)="applyChanges()">Apply</button>
            </span>
            <app-comment *ngFor="let comment of post.comments ; index as i" [setComment]="post.comments[i]">
            </app-comment>
        </div>
        <span *ngIf="isExtended">
            <span *ngIf="!editing">
                <div class="comment-box">
                    <textarea class="textarea-tag" disabled resize="none;">comment:</textarea> <input
                        [(ngModel)]="comment">
                    <textarea class="textarea-tag" disabled resize="none;">tags:</textarea> <input
                        [(ngModel)]="commentTags">
                    <textarea class="textarea-tag" disabled resize="none;">tagged:</textarea> <input
                        [(ngModel)]="commentUserTags">
                    <button class="post-item" (click)="addComment()">Comment</button>
                </div>
            </span>
        </span>
    </div>
</div>