<!-- \\\<app-posts-menu></app-posts-menu> -->

<div class="map-flex">
  <!--this div is flex-->
    <app-filter class="filter-size"></app-filter>
  <div class="map-size">
    <ac-map #map>
      <ac-layer *ngIf="entities$" acFor="let entity of entities$" [context]="this" [debug]="true">
        <ac-html-desc props="{position: entity.location, show: true}">
          <ng-template let-entity>
            <div class="map-post" (click)="showFullPost(entity)">
              <div>
                <img src="{{ entity.imageSrc }}" />
              </div>
              <div class="post-description">{{ entity.description }}</div>
            </div>
          </ng-template>
        </ac-html-desc>
      </ac-layer>
    </ac-map>
  </div>
</div>
<app-post *ngIf="showDialog" [post]="selectedPost" (closeDialogEmitter)="closeDialog()"></app-post>