<div>
    <div class="signing-box post-width">
        <h3 class="displayed-center">a post:</h3>
        <div class="post-flex">
            <div>
                <img class="post-image" src={{post.imageSorce}}>
            </div>
            <div class="post-text">{{post.description}}</div>

        </div>
        <button class="post-item" (click)="expandPost()">Expand</button>
        <span *ngIf="editButton">
            <button class="post-item" (click)="editPost()">Edit</button>
        </span>
        <button class="post-item" (click)="likeUnlike()">Like</button>
        <button class="post-item" (click)="close()">Close</button>
        <div class="post-text-bg" *ngIf="isExtended">
            <textarea class="textarea-tag" disabled resize="none;">likes: {{likeAmount}}</textarea>
            <span *ngIf="!editing">
                <textarea class="textarea-tag" disabled resize="none;">tags: {{tags}}</textarea>
                <textarea class="textarea-tag" disabled resize="none;">tagged: {{userTags}}</textarea>
            </span>
            <span *ngIf="editing">
                <textarea class="textarea-tag" disabled resize="none;">tags:</textarea> <input [(ngModel)]="tagString">
                <textarea class="textarea-tag" disabled resize="none;">tagged:</textarea> <input
                    [(ngModel)]="userTagString">
                <button class="post-item" (click)="applyChanges()">Apply</button>
            </span>
            <app-comment *ngFor="let comment of post.comments ; index as i" [setComment]="post.comments[i]">
            </app-comment>
        </div>
        <span *ngIf="isExtended">
        <span *ngIf="!editing">
            <div class="comment-box">
            <textarea class="textarea-tag" disabled resize="none;">comment:</textarea> <input [(ngModel)]="comment">
            <textarea class="textarea-tag" disabled resize="none;">tags:</textarea> <input [(ngModel)]="commentTags">
            <textarea class="textarea-tag" disabled resize="none;">tagged:</textarea> <input [(ngModel)]="commentUserTags">
            <button class="post-item" (click)="addComment()">Comment</button>
        </div>
        </span>
        </span>
    </div>
</div>

